.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }

  .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  
  .slide {
    width: 50%;
    height: 50%;
    flex: 1 0 100%;
  }