::-webkit-scrollbar {
    z-index: 10;
}

.nav img {
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}


.nav button {
    will-change: filter; 
    
    transition: 0.2s ease-in-out;
}

.nav button:hover {
    filter: drop-shadow(0px 0px 4px #fd831f);
}

.resume-proj-img {
    max-width: 300px;
    max-height: 70%;
}