.carousel-wrapper {}

.carousel-bttn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.carousel-bttn:hover {
    background-color: rgb(209, 100, 3, 0.3);
}

.carousel-bttn > * {
    stroke: white;
    fill: black;
    width: 2rem;
    height: 2rem;
}
